<% last_user_id = nil %>
<% messages.each do |message| %>
  <div class="cont-<%= message.user.id %> ">
    <div class="message-box msg-<%= message.user.id %> d-flex flex-column">
      <% if message.user.id != last_user_id %>
        <div class="message-top d-flex align-items-center">
            <%= render partial: "shared/default_avatar", locals: { size: 30 } %>
            <h6 class="name m-0"> <%= message.user.username %> </h6>
        </div>
      <% end %>
      <div class="message-body-<%= message.user.id %>" data-message-id="<%= message.id %>"
           data-room-id="<%= message.room.id %>">
        <%= message.content %>
      </div>
    </div>
  </div>
  <% last_user_id = message.user.id %>
<% end %>