
<div class="message-content cont-<%= message.user.id %> <%= "message-content-replied" if message.parent_message %>">
  <% if message.parent_message %>
    <%= render partial: "messages/reply_message", locals: { message: message.parent_message } %>
  <% end %>
  <div class="message-box msg-<%= message.user.id %> d-flex flex-row">
    <div class="d-flex flex-row gap-2">
      <div class="message-aside px-0">
        <%= link_to user_path(message.user),
                    data: { turbo_frame: 'modal_frame', 'turbo-prefetch': false },
                    class: 'nav-link px-0' do %>
          <div class="message-avatar d-flex align-items-center">
            <%= render partial: 'shared/default_avatar', locals: { size: 40, user: message.user, rounded: false } %>
          </div>
        <% end %>
      </div>
      <div class="px-0" data-controller="reactions">
        <div class="d-flex gap-2 align-items-center">
          <%= link_to user_path(message.user),
                      data: { turbo_frame: 'modal_frame', 'turbo-prefetch': false },
                      class: 'nav-link px-0' do %>
            <h6 class="message-name fw-bold m-0"> <%= message.user.username %> </h6>
          <% end %>
          <p class="text-nowrap mb-0 message-time"><%= message.created_at.strftime('%H:%M %p') %></p>
          <button class="btn reply-btn p-0 m-0"
                  data-action="click->reply#setReply"
                  data-message-id="<%= message.id %>"
                  data-message-text="<%= message.content.body.to_plain_text.truncate(50) %>">
            reply
          </button>
          <button class="emoji-picker-button btn p-0 m-0"
                  data-action="click->reactions#open"
                  data-message-id="<%= message.id %>">
            <img src="/images/add-reaction.svg" alt="add reactions button" style="width: 25px; height: 25px">
          </button>
          <div data-reactions-target="pickerContainer"></div>
        </div>

        <div class="message-body-<%= message.user.id %>"
             data-message-id="<%= message.id %>"
             data-room-id="<%= message.room.id %>">
          <%= message.content %>

          <%= turbo_stream_from "message_#{message.id}_reactions"%>
          <%= turbo_frame_tag dom_id(message, :reactions), class: 'reactions d-flex gap-1' do %>
            <%# message.reaction_counter.each do |emoji, emoji_size| %>
              <%#= render partial: "reactions/reaction", locals: { reaction: { emoji:, emoji_size: },  current_user: current_user } %>
            <%# end %>
            <%= render partial: 'messages/message_reactions', locals: { message: } %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
