<div class="modal-header d-flex flex-column">
  <div class="modal-header-top w-100 d-flex justify-content-evenly align-items-center p-3 pb-0 ">
    <div class="modal-title room-info--contacts-list d-flex">
      <%# if policy(@participant).add_participant? %>
          <%#= render partial: 'rooms/room_info/contacts_modal/contacts_modal_button',locals: { button_type: "icon"  }%>
      <%# end %>
      <h3 class="fw-bold"># <%= define_room_name(room) %></h3>
  </div>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-header-buttons align-self-baseline px-3 d-flex gap-2" data-controller="favorite-animation">
    <%= button_to toggle_favorites_path, params: { room_id: room.id }, class: 'btn border', method: :post, data: { turbo_frame: "favorite_button_#{room.id}" } do %>
      <span class="star <%= 'starred' if @favorite %>" data-favorite-animation-target="favorite"
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            data-bs-custom-class="custom-tooltip"
            data-bs-title="<%= @favorite.nil? ? '!Favorited' : 'Favorited' %>"
            data-controller="bs-init-component" data-action="bs-init-component#bs_init"
      >
        <i class="star-icon bi bi-star"></i>
      </span>
    <% end %>
    <div id="toggle_notifications_button">
      <%= render partial: 'participants/toggle_notifications', locals: { room: } %>
    </div>
  </div>
</div>
