<button class="btn btn-room-back">
  <%= link_to rooms_path, class: 'nav-link' do %>
    <i class="bi bi-arrow-left"></i>
  <% end %>
</button>

<button type="button"
        class="room-info-name btn btn-active-no-borders w-100 align-self-baseline text-start fw-bold d-flex align-items-center gap-3"
        data-bs-toggle="modal"
        data-bs-target="#roomInfo">
  # <%= define_room_name(room) %>
  <p class="room-info-description fw-normal text-muted p-0 m-0"><%= room.try(:description)&.truncate(50) %></p>
</button>



<div class="modal fade"
     id="roomInfo" tabindex="-1"
     aria-labelledby="roomInfoLabel"
     aria-hidden="true"
     data-controller="open-child-modal">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content m-auto">
      <%= render partial: 'rooms/room_info/room_info_header', locals: { room: room, user: user, other_user: } %>
      <%= render partial: 'rooms/room_info/room_info_body', locals: { room: room, user: user, other_user: } %>
    </div>
  </div>
</div>
