<div class="dropdown ">
  <a class="btn dropdown-toggle dropdown-no-arrow"
     href="#"
     role="button"
     id="dropdownMenuLink"
     data-bs-toggle="dropdown"
     aria-expanded="false">
    <i class="bi bi-three-dots"></i>
  </a>

  <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <li>
      <div class="dropdown-item">
        <%=  form_with url: leave_room_participant_path(@single_room), method: :delete, data: { turbo_confirm: 'Are you sure?' }, local: true do %>
          <%=  hidden_field_tag :user_id, current_user.id  %>
          <%=  hidden_field_tag :room_id, @single_room.id  %>
          <%=  submit_tag 'Leave', class: 'btn'  %>
        <%  end  %>
      </div>
    </li>
    <% if policy(@current_participant).destroy? %>
      <li>
        <div class="dropdown-item">
          <%=  form_with model: @single_room, method: :delete, data: { turbo_confirm: 'Are you sure?' }, local: true do %>
            <%=  submit_tag 'Delete Room', class: 'btn'  %>
          <%  end  %>
        </div>
      </li>
    <% end %>
  </ul>
</div>