<figure class="attachment attachment--<%= blob.representable? ? 'preview' : 'file' %> attachment--<%= blob.filename.extension %> border-0">
  <% if blob.representable? %>
    <%= image_tag blob.representation(resize_to_limit: local_assigns[:in_gallery] ? [800, 600] : [1024, 768]) %>
  <% end %>

  <figcaption class="attachment__caption">
    <% caption = blob.try(:caption) %>
    <% if caption %>
      <%= caption %>
    <% else %>
      <%= link_to rails_blob_path(blob) do %>
        <div class="attachment__inner d-flex gap-2 align-items-center <%= "justify-content-center" if blob.representable? %>">
          <div class=" <%= "attachment__filetype-icon" unless blob.representable? %>  rounded p-3">
            <i class="bi bi-file-earmark text-white"></i>
          </div>
          <div class="attachment__text d-flex gap-3 justify-content-center <%= "flex-column" unless blob.representable? %>">
            <% filename = blob.filename %>
            <span class="attachment__filename">
              <%= filename.to_s.split('.').first.truncate(50) %> <%= ".#{filename.extension}" unless filename.extension.blank? %>
            </span>
            <span class="attachment__size align-self-baseline"><%= number_to_human_size blob.byte_size %></span>
          </div>
        </div>
      <% end %>
    <% end %>
  </figcaption>
</figure>
