<div class="container d-flex justify-content-center mt-5">
  <ul class="h-75 w-100 overflow-y-scroll main-scroll-bar m-3 d-flex flex-column gap-3">
    <% @notifications.order(created_at: :desc).each do |notification| %>
      <li class="bullet">
        <% data_attrs = { turbo_frame: 'modal_frame', 'turbo-prefetch': false } if notification.item.instance_of?(User) %>
        <% notification_link = notification.item_type == 'User' ? notification.sender : notification.item %>
        <%= link_to notification_link, data: data_attrs, class: 'text-black text-decoration-none' do %>
          <div class="d-flex gap-3">
            <% if notification.sender && notification.sender != notification.receiver %>
              <%= render partial: 'shared/default_avatar', locals: { user: notification.sender, size: 50, rounded: false } %>
            <% end %>
            <div class="">
              <p class="text-muted p-0 m-0"><%= notification.notification_type.titleize %></p>
              <%= render notification, locals: { notification: notification } %>
              <p class="text-muted p-0 m-0"><%= time_ago_in_words(notification.created_at)%> ago</p>
            </div>
          </div>
        <% end %>
      </li>
    <% end %>
    <% unless @notifications.first %>
      <li class="">
        Notifications are clear
      </li>
    <% end %>
  </ul>
</div>