<li>
  <%= form_with url: remove_participant_room_path(participant), method: :delete, local: true do %>
    <%= hidden_field_tag :user_id, participant.user.id %>
    <%= hidden_field_tag :room_id, room.id %>
    <%= submit_tag "Kick", class: "btn btn-danger border" %>
  <% end %>
</li>
<li>
  <%= form_with url: block_participant_room_path(participant), method: :post, local: true do %>
    <%= hidden_field_tag :user_id, participant.user.id %>
    <%= hidden_field_tag :room_id, room.id %>
    <%= submit_tag "Block", class: "btn btn-danger border" %>
  <% end %>
</li>
<% if policy(room).change_role? %>
  <h6>Assign role: </h6>
  <% if participant.member? %>
    <li>
      <%= form_with url: change_role_room_path, method: :post, local: true do %>
        <%= hidden_field_tag :user_id, participant.user.id %>
        <%= hidden_field_tag :role, :moderator %>
        <%= hidden_field_tag :room_id, room.id %>
        <%= submit_tag "Moderator", class: "btn border" %>
      <% end %>
    </li>
  <% else %>
    <li>
      <%= form_with url: change_role_room_path, method: :post, local: true do %>
        <%= hidden_field_tag :user_id, participant.user.id %>
        <%= hidden_field_tag :role, :member %>
        <%= hidden_field_tag :room_id, room.id %>
        <%= submit_tag "Member", class: "btn border" %>
      <% end %>
    </li>
  <% end %>
<% end %>