<div class="signup-container devise-container w-100" >
  <div class="signup-box devise-box" >
    <h2 class="text-center text-white">Create your account</h2>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name),
                 html: { class: 'signup-form devise-form' }, data: { controller: 'signup' }) do |f| %>
      <%= render 'devise/shared/error_messages', resource: resource %>
      <div class="mb-3">
        <%= f.label :email, class: 'form-label text-light' %>
        <%= f.email_field :email, autofocus: true, autocomplete: 'email', required: true, class: 'form-control', data: { signup_target: 'email' } %>
      </div>

      <div class="mb-3">
        <%= f.submit 'Send me reset password instructions', class: 'btn main-btn-primary signup-btn w-100' %>
      </div>
    <% end %>

    <div class="text-center mt-3">
      <%= render 'devise/shared/links' %>
      <div class="d-grid mt-3">
      </div>
    </div>
  </div>
</div>
