<% if user.avatar_url %>
<div class="rounded-circle  border d-flex justify-content-center align-items-center">
  <img class="rounded-circle" src="<%=  user.avatar.thumb.url %>" alt="user avatar" style="width:<%= size %>px;height:<%= size %>px">
</div>
<%  else  %>
<div class="rounded-circle  border d-flex justify-content-center align-items-center"
     style="width:<%= size %>px;height:<%= size %>px">
  <i class="bi bi-person text-info"></i>
</div>
<%  end %>
