<button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
  <%= user&.email || room.name %>
  <span class="border">Type: <%= room.is_private ? "Private" : "Public" %></span>
  <span class="border">Name: <%= room.name %></span>
</button>

<div class="modal fade show" style="display: block;" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h2> Members: </h2>
        <% room.participants.where.not(user_id: current_user.id).each do |participant| %>
          <div class="row">
            <div class="col-10"><%= participant.user.username %></div>
            <div class="col-2">
              <%=  form_with url: add_participant_room_path, method: :delete, local: true do %>
                <%=  hidden_field_tag :contact_id, participant.user.id  %>
                <%=  submit_tag "Kick", class:"btn btn-danger border"  %>
              <%  end  %>
            </div>
          </div>
        <% end %>
        <h5>Contact to add: </h5>
        <% user.contacts.each do |contact| %>
          <div class="row">
            <% unless room.participants.where(user_id: contact.id).exists? %>
              <div class="col-10"><%= contact.username %></div>
                <div class="col-2">
                  <%=  form_with url: add_participant_room_path, method: :post, local: true do %>
                    <%=  hidden_field_tag :contact_id, contact.id  %>
                    <%=  submit_tag "Add", class:"btn border"  %>
                  <%  end  %>
                </div>
            <%  end %>
          </div>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>