<%= form_with(model: Room.new,
              remote: true,
              data: { controller: 'new_room_form_validations', action: 'submit->new_room_form_validations#submit' },
              class: 'new-room-form form d-flex flex-column') do |f| %>
  <%= f.label :name, 'Name', class: 'form-label' %>
  <%= f.text_field :name,
                   class: 'form-control',
                   autocomplete: 'off',
                   maxlength: 20,
                   size: 30,
                   require: true, data: { 'input-repeater-target': :inputRepeater, action: 'keyup->input-repeater#repeat' }%>
  <%= f.label :description %>
  <%= f.text_field :description, class: 'form-control', autocomplete: 'off' %>
  <%= f.label :topic %>
  <%= f.text_field :topic, class: 'form-control', autocomplete: 'off' %>
  <div class="form-check form-switch">
    <%= f.check_box :is_private, class: 'form-check-input', role: 'switch' %>
    <%= f.label :is_private, 'Create private room', class: 'form-check-label' %>
  </div>
  <%= f.submit data: { disable_with: false } %>
<% end %>