<% if @dms %>
  <div class="sidebar col-4 bg-secondary">
    <%= render partial: 'rooms/sidebar_dms' %>
  </div>
<% else %>
  <div class="sidebar col-auto  bg-secondary">
    <%= render partial: 'layouts/sidebar/sidebar' %>
  </div>
<% end %>

<div id="chatroom_container" class="d-flex flex-column vh-100">
  <div class="room-container h-100 w-100 justify-content-between d-flex flex-column">
    <% if @single_room %>
      <div class="single-room-top text-center d-flex flex-row justify-content-between">
        <% if @participant %>
          <%= render partial: 'rooms/room_info/room_info_modal', locals: { room: @single_room, user: current_user } %>
          <%= render partial: 'rooms/notifications', locals: { room: @single_room } %>
          <%= render partial: 'rooms/room_info/room_settings_dropdown' %>
        <% end %>
      </div>

      <div id="single_room" data-controller="scroll" class="d-flex px-1 flex-column main-scroll-bar">
        <%= turbo_stream_from @single_room %>
        <div id="messages" data-controller="message-context-menu" class="ps-4">
          <div class="room-panes">
            <% if @single_room.peer_room? %>
              <% other_user = peer_room_other_user_or_self(@single_room)  %>
              <div class="d-flex flex-row flex-wrap">
                This conversation is just between&nbsp;
                <%= link_to other_user&.username,
                            user_path(other_user),
                            data: { turbo_frame: 'modal_frame', 'turbo-prefetch': false },
                            class: 'nav-link user-text-link' %>
                &nbsp; and you. Check out their profile to learn more about them.
              </div>
            <% elsif  @single_room.messages.size < Pagy::DEFAULT[:limit]%>
              <%= render partial: "rooms/panes/new_room_foreword_pane", locals: { room: @single_room } %>
            <% end %>
            </div>
          <%= render 'messages/pager', pagy: @pagy %>
          <div id="messages-container"
               data-action="contextmenu->message-context-menu#open"
               class="d-flex flex-column gap-1">
              <%= turbo_frame_tag 'page_handler' %>
              <%= render @messages %>
          </div>
          <%= render partial: 'rooms/context_menu' %>
        </div>
        <div class="form_fixed">
          <% if @single_room.participant?(current_user) %>
            <%= render partial: 'messages/new_message_form' %>
          <% else %>
           <%= render partial: 'rooms/join_room_button' %>
          <% end %>
        </div>
      </div>
      <%= render partial: "rooms/room_info/contacts_modal/contacts_modal",
                 locals: { room: @single_room, user: current_user } %>
    <% end %>
  </div>
</div>