<div class="sidebar-main w-100 p-3">
  <ul class="nav flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start w-100" id="menu">
    <li class="sidebar-item w-100 px-1">
      <div href="#rooms" data-bs-toggle="collapse" class="sidebar-collapse-btn btn-squeeze sidebar-hoverable p-1 align-middle" aria-expanded="true">
        <i class="bi bi-chat-dots"></i> <span class="ms-1 d-none d-sm-inline">Rooms</span>
      </div>
      <ul class="sidebar-rooms-group main-scroll-bar collapse nav show flex-column ms-1" id="rooms" data-bs-parent="#menu">
        <div type="button" class="p-1 sidebar-hoverable align-middle" data-bs-toggle="modal" data-bs-target="#newRoomModal">
          <i class="sidebar-newroom--icon bi bi-plus-lg"></i>
          <span> New Room</span>
        </div>
        <%= render partial: "rooms/new_room_modal" %>
        <% Room.all_group_for_user(current_user).each do |room| %>
          <li class="w-100">
            <div class="sidebar__room sidebar-hoverable btn-squeeze d-flex align-items-center">
              <div class="sidebar__room_icon"><i class="bi bi-hash"></i></div>
              <%= link_to room.name, room, class:"d-block w-100 room-link nav-link px-0" %>
              <% unread_messages_size = room.messages.unread_by(current_user).size %>
              <div class="px-1">
                <% if unread_messages_size > 99 %>
                    99+
                <% else %>
                  <% unless unread_messages_size == 0 %>
                    <%= unread_messages_size %>
                  <% end %>
                <% end %>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
    </li>
    <div class="sidebar-spacer p-2"></div>
    <li class="sidebar-item w-100 px-1">
      <div href="#submenu1" data-bs-toggle="collapse" class="sidebar-collapse-btn btn-squeeze sidebar-hoverable p-1 align-middle ">
        <i class="bi bi-chat-left-quote"></i> <span class="ms-1 d-none d-sm-inline">Last Public Rooms</span>
      </div>
      <ul class="sidebar-rooms-group main-scroll-bar collapse nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
        <% Room.public_rooms.last(5).each do |room| %>
          <li class="w-100">
            <div class="sidebar__room sidebar-hoverable btn-squeeze d-flex align-items-center">
              <div class="sidebar__room_icon"><i class="bi bi-hash"></i></div>
              <%= link_to room.name, room, class:"d-block w-100 room-link nav-link px-0" %>
            </div>
          </li>
        <% end %>
      </ul>
    </li>
    <li class="sidebar-item w-100 px-1">
      <div href="#submenu5"  data-bs-toggle="collapse" class="sidebar-collapse-btn btn-squeeze sidebar-hoverable p-1 align-middle">
        <i class="bi bi-incognito"></i> <span class="ms-1 d-none d-sm-inline">Private Rooms</span>
      </div>
      <ul class="sidebar-rooms-group main-scroll-bar collapse nav flex-column ms-1" id="submenu5" data-bs-parent="#menu">
        <% Room.all_private_rooms_for_user(current_user).each do |room| %>
        <li class="w-100">
            <div class="sidebar__room sidebar-hoverable btn-squeeze d-flex align-items-center">
              <div class="sidebar__room_icon"><i class="bi bi-hash"></i></div>
              <%= link_to room.name, room, class:"d-block w-100 room-link nav-link px-0" %>
            </div>
          </li>
        <% end %>
      </ul>
    </li>
  </ul>
  <div class="sidebar-spacer p-2"></div>
</div>