<nav class="nav tabs flex-column justify-content-center align-items-center gap-3">
  <%= render partial: "layouts/tabs/logo/logo" %>
  <a class="nav-link tabs__content btn-squeeze" aria-current="page" href="<%= root_path %>">
    <i class="bi bi-house tabs__content_icon"></i>
    <p class="tabs__content_label">Home</p>
  </a>

  <%= render partial: 'layouts/tabs/rooms/rooms' %>

  <%= render partial: 'layouts/tabs/dms/dms' %>

  <%= render partial: 'layouts/tabs/contacts/contacts' %>

  <a class="nav-link tabs__content btn-squeeze" href="<%= notifications_path %>">
    <i class="bi bi-bell tabs__content_icon position-relative">
      <%= tag.div id: :notifications_count do %>
        <%= render 'notifications/count', count: current_user.unviewed_notifications_size %>
      <% end %>

    </i>
    <p class="tabs__content_label">Activity</p>
  </a>
</nav>
