<nav class="nav tabs flex-column justify-content-center align-items-center gap-3">
  <% if current_user %>
    <a class="tabs__logo btn" href="<%= root_path %>"><i class="tabs__logo_icon"><%= current_user.username.first.upcase %></i></a>
  <% end %>
  <div class="tabs__container rounded"></div>
  <a class="nav-link tabs__content btn-squeeze" aria-current="page" href="<%= root_path %>">
    <i class="bi bi-house tabs__content_icon"></i>
    <p class="tabs__content_label">Home</p>
  </a>
  <a class="nav-link tabs__content btn-squeeze" aria-current="page" href="<%= rooms_path %>">
    <i class="bi bi-chat tabs__content_icon"></i>
    <p class="tabs__content_label">Rooms</p>
  </a>
  <a class="nav-link tabs__content btn-squeeze" aria-current="page" href="<%= dms_path %>">
    <i class="bi bi-person tabs__content_icon"></i>
    <p class="tabs__content_label">DMs</p>
  </a>

  <%= link_to contacts_path, class:"link tabs__content btn-squeeze" do %>
    <i class="bi bi-people tabs__content_icon"></i>
    <p class="tabs__content_label">Contacts</p>
  <% end %>
  <a class="nav-link tabs__content btn-squeeze" href="<%= notifications_path %>">
    <i class="bi bi-bell tabs__content_icon position-relative">
      <%= tag.div id: :notifications_count do %>
        <%= render "notifications/count", count: current_user.unviewed_notifications_size %>
      <% end %>

    </i>
    <p class="tabs__content_label">Activity</p>
  </a>
</nav>
