<!DOCTYPE html>
<html>
  <head>
    <title>TurboChat</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="turbo-prefetch" content="false">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', 'data-turbo-track': 'reload' %>
    <%= javascript_importmap_tags %>
  </head>
  <body class="bg-main main-scroll-bar">
    <% if user_signed_in? %>
      <%= render partial: 'layouts/nav' %>
      <%= turbo_stream_from "broadcast_to_user_#{current_user.id}"%>
      <div id="notifications" class="p-2 z-1">
        <% current_user.notifications.where(viewed: false).last do |notification| %>
          <%= render 'notifications/fixed_notification', notification: %>
        <% end %>
      </div>
    <% end %>

    <div class="container-fluid h-100">
      <div class="row flex-nowrap h-100">
        <div class="nav-container col-auto bg-main">
          <% if user_signed_in? %>
            <%= render partial: 'layouts/tabs' %>
          <% end %>
        </div>
        <div class="col ps-0">
          <%= render partial: 'layouts/flash' %>
          <main class="main d-flex bg-white w-100 h-100">
            <%= yield %>
          </main>

        </div>
      </div>
    </div>
    <turbo-frame id="modal_frame"></turbo-frame>
  </body>
</html>
