<!DOCTYPE html>
<html>
  <head>
    <title>TurboChat</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <style>
    <%= ".msg-#{current_user&.id}" %> {
        background-color: #007bff !important;
        padding: 10px;
    }
    <%= ".cont-#{current_user&.id}" %> {
        display: flex;
        justify-content: flex-end
    }
  </style>
  <body class="bg-main overflow-hidden">
    <%= render partial: 'layouts/nav' %>


    <div class="container-fluid">
      <div class="row flex-nowrap">
        <div class="col-auto bg-main">
          <%= render partial: 'layouts/tabs' %>
        </div>
        <div class="col py-3">
          <main class="main d-flex bg-white w-100 h-100">
            <%= render partial: "layouts/flash" %>
            <%= yield %>
          </main>

        </div>
      </div>
    </div>

  </body>
</html>
