<!DOCTYPE html>
<html>
  <head>
    <title>TurboChat</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <style>
    <% if current_user %>
      <%= ".msg-#{current_user&.id}" %> {

      }
      <%= ".msg-#{current_user&.id}" %> > .message-top {
          align-self: end;
      }
      <%= ".message-body-#{current_user.id}" %>{
          align-self: end;
      }


      <%= ".cont-#{current_user&.id}" %> {
          display: flex;
          justify-content: flex-end
      }
    <% end %>
  </style>
  <body class="bg-main main-scroll-bar">
    <% if user_signed_in? %>
      <%= render partial: 'layouts/nav' %>
    <% end %>


    <div class="container-fluid h-100">
      <div class="row flex-nowrap h-100">
        <div class="col-auto bg-main">
          <% if user_signed_in? %>
            <%= render partial: 'layouts/tabs' %>
          <% end %>
        </div>
        <div class="col ps-0">
          <%= render partial: "layouts/flash" %>
          <main class="main d-flex bg-white w-100 h-100">
            <%= yield %>
          </main>

        </div>
      </div>
    </div>
    <turbo-frame id="modal_frame"></turbo-frame>
  </body>
</html>
